<div
  class="d-flex justify-content-center align-items-center"
  style="width: 100%; height: 90vh"
>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 w-100">
      <h1 class="text-center text-dark">Login</h1>

      <div class="shadow p-5 rounded bg-info">
        <form>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="email"
              [(ngModel)]="email"
              name="email"
            />
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              [(ngModel)]="password"
              name="password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="text-center">
            <input type="button" value="Login"  (click)="Login()" class="btn btn-warning text-dark fw-bolder">
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>


